h1 Not Found
p You asked for <kbd>#{request.original_fullpath}</kbd> but we couldn't find it.
p Sorry about that.
- if @fake
  p: small Actually, this page does exist. Apart from this sentence, this page is what is shown when a page isn't found.
