$googlefont: inherit;

@mixin googlefont ($family) {
  @import url("http://fonts.googleapis.com/css?family=" + $family + ":400,700,400italic,700italic");
  $googlefont: $family;
}

@include googlefont("Source Sans Pro");
$sans-serif: $googlefont, "Tahoma", Geneva, sans-serif !default;

@include googlefont("Droid Serif");
$serif: $googlefont, "Times New Roman", Times, serif !default;

@include googlefont("Anonymous Pro");
$monospace: $googlefont, "Lucida Console", Monaco, monospace !default;

$font-family: $sans-serif;
