body {
  background: #fff;
  color: #111;
  margin: 2em;
}

h1, h2, h3, h4, h5, h6, p, menu, ul, ol, dl, table, fieldset, details, aside,
pre, blockquote, figure {
  margin: 1em 0 0;
}

h1 { font-size: 2.0em; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.0em; }

ul, ol {
  padding-left: 2em;
}

li > ul, li > ol {
  margin-top: 0;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 2em;
}

ul {
  list-style: disc;
  ul ul {
    list-style: circle;
    ul ul ul {
      list-style: square;
    }
  }
}

ol {
  list-style: decimal;
}

aside {
  float: right;
}

blockquote {
  background: rgba(#000, 0.1);
  padding: 1px 1em 1em;
}

hr {
  border-top: 1px solid rgba(#000, 0.1);
  border-bottom: 1px solid rgba(#fff, 0.3);
  margin: 1em 0;
}
