<section>
  <h1>
    Heading 1
  </h1>
  <h2>
    Heading 2
  </h2>
  <h3>
    Heading 3
  </h3>
  <h4>
    Heading 4
  </h4>
  <h5>
    Heading 5
  </h5>
  <h6>
    Heading 6
  </h6>
  <p>
    Hello there.
  </p>
</section>
<section>
  <h2>
    Grouping content
  </h2>
  <aside>
    An aside
  </aside>
  <p>
    A paragraph
  </p>
  <hr>
  <pre>Preformatted content</pre>
  <blockquote>
    <p>Block quote
    <blockquote>
      <p>Block quote
      <blockquote>
        <p>Block quote
        <blockquote><p>Block quote</blockquote>
      </blockquote>
    </blockquote>
  </blockquote>
  <ol>
    <li>
      Ordered list item
    </li>
    <li>
      Ordered list item
      <ol>
        <li>
          Ordered list item
        </li>
        <li>
          Ordered list item
          <ol>
            <li>
              Ordered list item
            </li>
            <li>
              Ordered list item
            </li>
            <li>
              Ordered list item
            </li>
          </ol>
        </li>
        <li>
          Ordered list item
        </li>
      </ol>
    </li>
    <li>
      Ordered list item
    </li>
  </ol>
  <ul>
    <li>
      Unordered list item
    </li>
    <li>
      Unordered list item
      <ul>
        <li>
          Unordered list item
        </li>
        <li>
          Unordered list item
          <ul>
            <li>
              Unordered list item
            </li>
            <li>
              Unordered list item
            </li>
            <li>
              Unordered list item
            </li>
          </ul>
        </li>
        <li>
          Unordered list item
        </li>
      </ul>
    </li>
    <li>
      Unordered list item
    </li>
  </ul>
  <menu>
    <li>
      Menu item
    </li>
    <li>
      Menu item<menu>
        <li>
          Menu item
        </li>
        <li>
          Menu item<menu>
            <li>
              Menu item
            </li>
            <li>
              Menu item
            </li>
            <li>
              Menu item
            </li>
          </menu>
        </li>
        <li>
          Menu item
        </li>
      </menu>
    </li>
    <li>
      Menu item
    </li>
  </menu>
  <dl>
    <dt>Description term</dt>
    <dd>Description definition</dd>
  </dl>
  <figure>
    <p>
      A figure
    </p>
    <figcaption>Figure 1</figcaption>
  </figure>
</section>
<section>
  <h2>
    Text-level content
  </h2>
  <p>
    H<sub>2</sub>SO<sub>4</sub>
  </p>
  <p>
    U<sup>233</sup>
  </p>
  <p>
    <a href="">Hyperlink.</a> <em>Stress emphasis.</em> <strong>Importance.</strong> <small>Side comments.</small> <s>Inaccurate text.</s> <cite>Titles of works.</cite> <q>Quotations.</q> <dfn>Defining instance.</dfn> <abbr>Abbreviations.</abbr> <code>Computer code.</code> <var>Variable name.</var> <samp>Computer output.</samp> <kbd>User input.</kbd> <sub>Subscript.</sub> <sup>Superscript.</sup> <i>Alternative voice.</i> <b>Keywords.</b> <u>Annotation.</u> <mark>Highlight. </mark> 
    <ruby>
      Ru <rt>roo</rt> by <rt>bee</rt>
    </ruby>
  </p>
</section>
<section>
  <h2>
    Edits
  </h2>
  <p>
    <ins>Insertions</ins><del>Deletions</del>
  </p>
</section>
<section>
  <h2>
    Tabular data
  </h2>
  <table>
    <thead>
      <tr>
        <th>
          Header row header cell
        </th>
        <td>
          Header row body cell
        </td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>
          Body row header cell
        </th>
        <td>
          Body row body cell
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th>
          Footer row header cell
        </th>
        <td>
          Footer row body cell
        </td>
      </tr>
    </tfoot>
  </table>
</section>
<section>
  <h2>
    Forms
  </h2>
  <form>
    <fieldset>
      <legend>Legend</legend>
      <p>
        <label>Text input</label><input type="text" value="value">
      </p>
      <p>
        <label>Search input</label><input type="search" value="value">
      </p>
      <p>
        <label>Telephone input</label><input type="tel" value="value">
      </p>
      <p>
        <label>URL input</label><input type="url" value="value">
      </p>
      <p>
        <label>Email input</label><input type="email" value="value">
      </p>
      <p>
        <label>Password input</label><input type="password" value="value">
      </p>
      <p>
        <label>Date and time input</label><input type="datetime" value="1970-01-01 00:00:00">
      </p>
      <p>
        <label>Date input</label><input type="date" value="1970-01-01">
      </p>
      <p>
        <label>Month input</label><input type="month" value="1970-01">
      </p>
      <p>
        <label>Week input</label><input type="week" value="1970-W01">
      </p>
      <p>
        <label>Time input</label><input type="time" value="00:00:00">
      </p>
      <p>
        <label>Local date and time input</label><input type="datetime-local" value="1970-01-01 00:00:00">
      </p>
      <p>
        <label>Number input</label><input type="number" value="123">
      </p>
      <p>
        <label>Range input</label><input type="range">
      </p>
      <p>
        <label>Color input</label><input type="color">
      </p>
      <p>
        <label>Checkbox input</label><input type="checkbox">
      </p>
      <p>
        <label>Radio input</label><input type="radio">
      </p>
      <p>
        <label>File input</label><input type="file">
      </p>
      <p>
        <label>Submit input</label><input type="submit">
      </p>
      <p>
        <label>Reset input</label><input type="reset">
      </p>
      <p>
        <label>Button input</label><input type="button" value="Action">
      </p>
      <p>
        <label>Reset button</label><button type='reset'>Action</button>
      </p>
      <p>
        <label>Submit button</label><button type='submit'>Action</button>
      </p>
      <p>
        <label>Button</label><button type='button'>Action</button>
      </p>
      <p>
        <label>Select</label><select><optgroup label="Option Group">
            <option>
              Option
            </option>
          </optgroup></select>
      </p>
      <p>
        <label>Text input</label><textarea></textarea>
      </p>
      <p>
        <label>Keygen</label><keygen></keygen>
      </p>
      <p>
        <label>Output</label><output></output>
      </p>
      <p>
        <label>Progress</label><progress value="0.5"></progress>
      </p>
      <p>
        <label>Meter</label><meter value="0.5"></meter>
      </p>
    </fieldset>
  </form>
</section>
