<section>
  <h1>
    Heading 1
  </h1>
  <h2>
    Heading 2
  </h2>
  <h3>
    Heading 3
  </h3>
  <h4>
    Heading 4
  </h4>
  <h5>
    Heading 5
  </h5>
  <h6>
    Heading 6
  </h6>
  <p>
    Hello there.
  </p>
</section>
<section>
  <h2>
    Grouping content
  </h2>
  <aside>
    An aside
  </aside>
  <p>
    A paragraph
  </p>
  <hr>
  <pre>Preformatted content</pre>
  <blockquote>
    <p>Block quote
    <blockquote>
      <p>Block quote
      <blockquote>
        <p>Block quote
        <blockquote><p>Block quote</blockquote>
      </blockquote>
    </blockquote>
  </blockquote>
  <ol>
    <li>
      Ordered list item
    </li>
    <li>
      Ordered list item
      <ol>
        <li>
          Ordered list item
        </li>
        <li>
          Ordered list item
          <ol>
            <li>
              Ordered list item
            </li>
            <li>
              Ordered list item
            </li>
            <li>
              Ordered list item
            </li>
          </ol>
        </li>
        <li>
          Ordered list item
        </li>
      </ol>
    </li>
    <li>
      Ordered list item
    </li>
  </ol>
  <ul>
    <li>
      Unordered list item
    </li>
    <li>
      Unordered list item
      <ul>
        <li>
          Unordered list item
        </li>
        <li>
          Unordered list item
          <ul>
            <li>
              Unordered list item
            </li>
            <li>
              Unordered list item
            </li>
            <li>
              Unordered list item
            </li>
          </ul>
        </li>
        <li>
          Unordered list item
        </li>
      </ul>
    </li>
    <li>
      Unordered list item
    </li>
  </ul>
  <menu>
    <li>
      Menu item
    </li>
    <li>
      Menu item<menu>
        <li>
          Menu item
        </li>
        <li>
          Menu item<menu>
            <li>
              Menu item
            </li>
            <li>
              Menu item
            </li>
            <li>
              Menu item
            </li>
          </menu>
        </li>
        <li>
          Menu item
        </li>
      </menu>
    </li>
    <li>
      Menu item
    </li>
  </menu>
  <dl>
    <dt>Description term</dt>
    <dd>Description definition</dd>
  </dl>
  <figure>
    <p>
      A figure
    </p>
    <figcaption>Figure 1</figcaption>
  </figure>
</section>
<section>
  <h2>
    Text-level content
  </h2>
  <p>
    H<sub>2</sub>SO<sub>4</sub>
  </p>
  <p>
    U<sup>233</sup>
  </p>
  <p>
    <sub>gjq()[]</sub>
  </p>
  <p>
    <sup>TPA[]()</sup>
  </p>
  <p>
    <a href="">Hyperlink.</a>
    <em>Stress emphasis.</em>
    <strong>Importance.</strong>
    <small>Side comments.</small>
    <s>Inaccurate text.</s>
    <cite>Titles of works.</cite>
    <q>Quotations.</q>
    <dfn>Defining instance.</dfn>
    a<dfn>a</dfn>c<dfn>c</dfn>e<dfn>e</dfn>
    <abbr>Abbreviations.</abbr>
    <code>Computer code.</code>
    <var>Variable name.</var>
    <samp>Computer output.</samp>
    <kbd>User input.</kbd>
    <sub>Subscript.</sub>
    <sup>Superscript.</sup>
    <i>Alternative voice.</i>
    <b>Keywords.</b>
    <u>Annotation.</u>
    <mark>Highlight.</mark>
  </p>
  <p>
    <ruby>
      Ru <rt>roo</rt> by <rt>bee</rt>
    </ruby>
  </p>
</section>
<section>
  <h2>
    Edits
  </h2>
  <p>
    <ins>Insertions</ins><del>Deletions</del>
  </p>
</section>
<section>
  <h2>
    Tabular data
  </h2>
  <table>
    <thead>
      <tr>
        <th>Header row cell</th>
        <th>Header row cell</th>
        <th>Header row cell</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Body row cell</td>
        <td>Body row cell</td>
        <td>Body row cell</td>
      </tr>
      <tr>
        <td>Body row cell</td>
        <td>Body row cell</td>
        <td>Body row cell</td>
      </tr>
      <tr>
        <td>Body row cell</td>
        <td>Body row cell</td>
        <td>Body row cell</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td>Footer row cell</td>
        <td>Footer row cell</td>
        <td>Footer row cell</td>
      </tr>
    </tfoot>
  </table>
</section>
<section>
  <h2>
    Forms
  </h2>
  <form>
    <fieldset>
      <legend>Legend</legend>
      <hr>
      <hr>
      <details open>
        <summary>Summary</summary>
        <p>The detailed content</p>
      </details>
      <details>
        <summary>Summary</summary>
        <p>The detailed content</p>
      </details>
      <table class='properties'>
        <tr>
          <th><label>Automatic input</label><td><input value="value">
        <tr>
        <tr>
          <th><label>Text input</label><td><input type="text" value="value">
        <tr>
          <th><label>Search input</label><td><input type="search" value="value">
        <tr>
          <th><label>Telephone input</label><td><input type="tel" value="value">
        <tr>
          <th><label>URL input</label><td><input type="url" value="value">
        <tr>
          <th><label>Email input</label><td><input type="email" value="value">
        <tr>
          <th><label>Password input</label><td><input type="password" value="value">
        <tr>
          <th><label>Date input</label><td><input type="date" value="1970-01-01">
        <tr>
          <th><label>Month input</label><td><input type="month" value="1970-01">
        <tr>
          <th><label>Week input</label><td><input type="week" value="1970-W01">
        <tr>
          <th><label>Time input</label><td><input type="time" value="00:00:00">
        <tr>
          <th><label>Date and time input</label><td><input type="datetime-local" value="1970-01-01 00:00:00">
        <tr>
          <th><label>Number input</label><td><input type="number" value="123">
        <tr>
          <th><label>Color input</label><td><input type="color">
        <tr>
          <th><td><label><input type="checkbox"> Checkbox input</label>
        <tr>
          <th><td><label><input type="radio"> Radio input</label>
        <tr>
          <th><label>File input</label><td><input type="file">
        <tr>
          <th><label>Submit input</label><td><input type="submit">
        <tr>
          <th><label>Reset input</label><td><input type="reset">
        <tr>
          <th><label>Button input</label><td><input type="button" value="Action">
        <tr>
          <th><label>Reset button</label><td><button type='reset'>Reset</button>
        <tr>
          <th><label>Submit button</label><td><button type='submit'>Submit</button>
        <tr>
          <th><label>Button</label><td><button type='button'>Action</button>
        <tr>
          <th><label>Select</label><td><select><optgroup label="Option Group">
              <option>
                Option
              </option>
            </optgroup></select>
        <tr>
          <th><label>Text input</label><td><textarea placeholder='value'>value</textarea>
        <tr>
          <th><label>Progress</label><td><progress value="0.5"></progress>
        <tr>
          <th><label>Meter</label><td><meter value="0.5"></meter>
      </table>
    </fieldset>
  </form>
</section>
