
body {
  width: 960px;
  margin: 0 auto;
}

header {
  margin: 1em 0;
  h1 {
    font-size: 1em;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1 { font-size: 2.0em; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.0em; }

strong, b, th {
  font-weight: bold;
}

em, i, cite, var {
  font-style: italic;
}

var {
  font-family: $serif;
}

dfn {
  font-variant: small-caps;
}

s, del {
  text-decoration: line-through;
}

small {
  font-size: 80%;
  color: rgba(#000, 0.7);
}

sub {
  position: relative;
  top: 0.3em;
  font-size: 60%;
}

sup {
  position: relative;
  bottom: 0.7em;
  font-size: 60%;
}

mark {
  background: rgba(#ff0, 0.3);
}

ins, u {
  text-decoration: underline;
}

a:link {
  text-decoration: underline;
  color: #00a;
}

a:visited {
  text-decoration: underline;
  color: #00a;
}

h1, h2, h3, h4, h5, h6, p, blockquote, table, ol, ul, dl, menu, aside, pre, figure {
  margin: 1rem 0;
}

table {
  margin: 0 0 1em -1em;
}

th, td {
  padding: 0 0 0 1em;
}

aside {
  margin-left: 2em;
}

blockquote {
  border-left: 0.3em solid rgba(#000, 0.1);
  background: rgba(#000, 0.05);
  padding: 0 1em 0 0.7em;
  &:before {
    content: "";
    margin-bottom: -1px;
    padding-bottom: 1px;
    display: block;
  }
  &:after {
    content: "";
    margin-top: -1px;
    padding-top: 1px;
    display: block;
  }
}

pre {
  padding: 1em;
  background: rgba(#000, 0.1);
}

ol, ul, menu {
  ol, ul, menu {
    margin: 0;
  }
}

ol {
  counter-reset: ol;
  & > li {
    counter-increment: ol;
    &:before {
      content: counter(ol) ".";
    }
  }
}

ol, ul {
  & > li {
    position: relative;
    padding-left: 2em;
    &:before {
      position: absolute;
      left: 0;
    }
  }
}

ul > li:before { content: "•" }
ul ul > li:before { content: "◦" }
ul ul ul > li:before { content: "‣" }
ul ul ul ul > li:before { content: "⁃" }
ul ul ul ul ul > li:before { content: "☞" }

menu menu {
  margin-left: 2em;
}

dt {
  //font-weight: bold;
  font-style: italic;
  float: left;
  &:after {
    content: " ";
    white-space: pre;
  }
}

figure {
  border: 1px solid rgba(#000, 0.1);
  border-radius: 0.5em;
  padding: 0 1em 0.25em;
  figcaption {
    color: rgba(#000, 0.5);
    font-style: italic;
    text-align: center;
  }
}

legend {
  font-weight: bold;
}

label {
  //margin-right: 1em;
}

input:not([type]),
input[type='text'],
input[type='search'],
input[type='tel'],
input[type='url'],
input[type='email'],
input[type='password'],
input[type='datetime'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='time'],
input[type='datetime-local'],
input[type='number'],
textarea {
  border: 1px solid #888;
  padding: 0.25em 0.5em;
  box-shadow: #ccc 1px 1px 2px inset;
  &:focus {
    border: 1px solid rgba(#000, 0.9);
  }
}

input[type='submit'],
input[type='reset'],
input[type='button'] {
  background: #f00;
}

input[type='color'],
button,
select {
  border: 1px solid #888;
  padding: 0.125em 0.5em;
  box-shadow: #fff 1px 1px 1px inset;
  background: #ddd linear-gradient(#eee, #ddd);
  &:hover {
    border: 1px solid rgba(#000, 0.9);
  }
  &:active {
    background: #ccc linear-gradient(#ccc, #ddd);
    box-shadow: rgba(#000, 0.2) 1px 1px 1px inset;
  }
}

