
* {
  font: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  background: transparent;
}

ul, ol, menu {
  list-style: none;
}

body {
  text-align: left;
}

bold, strong, th {
  font-weight: bold;
}

i, em {
  font-style: italic;
}

p {
  margin: 0.5em 0;
}

small {
  font-size: 70%;
}

.nowrap {
  white-space: nowrap;
}
